
<%- include("header") -%> 
<h2>This is about page</h2>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia similique, nobis deserunt eveniet impedit cum temporibus officiis provident, quasi, minus reiciendis? Voluptatem est corporis debitis quia voluptate quidem quas quis.</p>
<%- include("footer") -%> 